.parent {
  @apply flex items-center h-full 
	max-md:fixed max-md:block max-md:left-0 max-md:w-full max-md:h-full duration-200 
	max-md:before:block max-md:bg-white md:z-20;

  .list {
    @apply flex h-full 
		max-md:flex-col max-md:w-full max-md:h-auto max-md:mt-8;
  }
  .menuItem {
    @apply h-full relative;

    .menuButton {
      @apply flex items-center h-full px-4 hover:text-yellow-500 duration-150 max-md:text-3xl max-md:justify-center max-md:text-dark max-md:py-2;
    }

    .subMenu {
      @apply absolute bg-white text-gray md:rounded-lg overflow-hidden transition-all duration-150 
			md:translate-y-4 md:invisible md:opacity-0 z-10 
			max-md:relative;
    }
    &:hover {
      .subMenu {
        @apply translate-y-0 visible duration-150 opacity-100;
      }
    }

    .subMenuItem {
      // @apply invisible group-hover:visible;
    }
    .subMenuButton {
      @apply w-36 py-2 px-4 hover:text-white hover:bg-yellow-500
			max-md:w-full;
    }
  }
}
